<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit a product</h1>
    <form action="/products/<%=product._id%>?_method=PUT" method="post">

        <label for="name"> prodcut name</label>
        <input type="text" name="name" id="name" placeholder="Product name" value="<%=product.name %>">
        <label for="price"> prodcut price (won)</label>
        <input type="number" name="price" id="price" placeholder="price" value="<%=product.price%>">
        <label for="category"> Category</label>
        <select  name="category"  id = "category">
            <option value="computer"> computer</option>
            <option value="tv"> tv</option>
            <option value="smart"> smart</option>
            </select>
            <button>submit</button>
        </form>
    
    
</body>
</html>